---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/main.css';
---
<BaseLayout title="Sobre mí">
  <Header />
  <h2>Sobre mí</h2>
  <p style="color:var(--muted)">Soy estudiante del Colegio Alessandro Volta, estudiando la especialidad de informatica en Segundo Informatica Paralelo "A" en el aula 20 </p>
  <section style="margin-top:1rem">
    <h3>Contacto</h3>
    <p style="color:var(--muted)">Correo: ismaelcadmen2009@correo.com • GitHub: https://github.com/ismaazkl</p>
    <p style="color:var(--muted)">Numero: +593 967222899 </p>
  </section>
  <Footer />
</BaseLayout>
